@model IPGManager.Models.TarFunc

@{
    ViewData["Title"] = "Create";
}

<h1>Atribuir tarefa a funcionário</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FuncionarioId" class="control-label">Nome de funcionário:</label>
                <select asp-for="FuncionarioId" class ="form-control" asp-items="ViewBag.FuncionarioId"></select>
            </div>
            <div class="form-group">
                <label asp-for="TarefaId" class="control-label">Descrição da tarefa:</label>
                <select asp-for="TarefaId" class ="form-control" asp-items="ViewBag.TarefaId"></select>
            </div>
            <div class="form-group">
                <button type="submit" class="button button1">
                    Criar&nbsp;<i class="fas fa-plus-square"></i>
                </button> | <a class="button button2" asp-action="Index">Voltar&nbsp;<i class="fas fa-chevron-left"></i></a>
            </div>
        </form>
    </div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
