@model IPGManager.Models.TarFunc

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>TarFunc</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TarFuncId" />
            <div class="form-group">
                <label asp-for="FuncionarioId" class="control-label">Nome do funcionário:</label>
                <select asp-for="FuncionarioId" class="form-control" asp-items="ViewBag.FuncionarioId"></select>
                <span asp-validation-for="FuncionarioId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TarefaId" class="control-label">Descrição da tarefa:</label>
                <select asp-for="TarefaId" class="form-control" asp-items="ViewBag.TarefaId"></select>
                <span asp-validation-for="TarefaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" class="button button3" onclick="return confirm('Deseja mesmo editar?')">Salvar&nbsp;<i class="fa fa-save"></i></button> | 
                <a class="button button2" asp-action="Index">Voltar&nbsp;<i class="fas fa-chevron-left"></i></a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
