@model IPGManager.Models.Cargo

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar cargo</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CargoId" />
            <div class="form-group">
                <label asp-for="NomeCargo" class="control-label"></label>
                <input asp-for="NomeCargo" class="form-control" />
                <span asp-validation-for="NomeCargo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descricao" class="control-label"></label>
                <input asp-for="Descricao" class="form-control" />
                <span asp-validation-for="Descricao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NivelCargo" class="control-label"></label>
                <input asp-for="NivelCargo" class="form-control" />
                <span asp-validation-for="NivelCargo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" class="button button3" onclick="return confirm('Deseja mesmo editar?')">Salvar&nbsp;<i class="fa fa-save"></i></button> | <a class="button button2" asp-action="Index">Voltar&nbsp;<i class="fas fa-chevron-left"></i></a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
