@model IPGManager.Models.Horario

@{
    ViewData["Title"] = "Create";
}

<h1>Criar novo Horário</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="HInicio" class="control-label"></label>
                <input asp-for="HInicio" class="form-control" />
                <span asp-validation-for="HInicio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HInicioIntervalo" class="control-label"></label>
                <input asp-for="HInicioIntervalo" class="form-control" />
                <span asp-validation-for="HInicioIntervalo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HFimIntervalo" class="control-label"></label>
                <input asp-for="HFimIntervalo" class="form-control" />
                <span asp-validation-for="HFimIntervalo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HFim" class="control-label"></label>
                <input asp-for="HFim" class="form-control" />
                <span asp-validation-for="HFim" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar à lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
