/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

* {
    margin: 0;
    padding: 0;
    font-family: Century Gothic;
}

header {
    height: 100px;
    background-size: cover;
    background-position: center;
    background-image: url("~/img/ipgFoto.jpg");
}


ul {
    float: right;
    margin-top: 25px;
    margin-right: 25px;
    list-style-type: none;
}

    ul li {
        display: inline-block;
    }

        ul li a {
            text-decoration: none;
            color: red;
            padding: 5px 20px;
            border: 1px solid transparent;
            transition: 0.6s ease;
        }

            ul li a:hover {
                background-color: red;
                color: white;
            }

.logo img {
    float: left;
    width: 70px;
    height: auto;
    margin-left: 25px;
}

.main {
    max-width: 1200px;
    margin: auto;
}

.drop {
    position: relative;
    display: inline-block;
}

    .drop:hover {
        background-color: red;
        color: white;
    }



.dropbtn {
    text-decoration: none;
    color: red;
    padding: 5px 20px;
    border: 1px solid transparent;
    transition: 0.6s ease;
    background-color:white;
    border: 2px solid red;
}

.dropdown {
    position: relative;
    display: inline-block;

}

    .dropdown a:hover {
        text-decoration: none;
        padding: 0px 5px;
    }


.dropdown-content {
    margin-top:1px;
    display: none;
    position: absolute;
    min-width: 125px;
    min-height: 20px;
    z-index: 1;
    background-color: white;
    border: 1px solid red;
}

    .dropdown-content a {
        text-decoration: none;
        color: red;
        padding: 0px 5px;
        transition: 0.6s ease;
    }

        .dropdown-content a:hover {
            background-color: red;
            color: white;
        }

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: red;
    color: white;
}

.content {
    min-height: calc(100vh - 30px);
}

.footer {
    height: 30px;
}

.button {
    text-decoration: none;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 0px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 0px 0px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.button1 {
    background-color: white;
    color: red;
    border: 1px solid red;
}

    .button1:hover {
        text-decoration: none;
        background-color: red;
        color: white;
    }

.button2 {
    background-color: white;
    color: blue;
    border: 1px solid blue;
}

    .button2:hover {
        text-decoration: none;
        background-color: blue;
        color: white;
    }

.button3 {
    background-color: white;
    color: green;
    border: 1px solid green;
}

    .button3:hover {
        text-decoration: none;
        background-color: green;
        color: white;
    }

.buttonnext {
    display: inline-block;
    border-radius: 4px;
    background-color: #f44336;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 16px;
    padding: 5px 25px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

    .buttonnext span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
    }

        .buttonnext span:after {
            content: '\00bb';
            position: absolute;
            opacity: 0;
            top: 0;
            right: -20px;
            transition: 0.5s;
        }

    .buttonnext:hover span {
        padding-right: 25px;
        color: white;
    }

        .buttonnext:hover span:after {
            opacity: 1;
            right: 0;
            color: white;
        }

    .buttonnext.disabled, .buttonnext:disabled {
        opacity: 0.60;
    }

a.buttonnext.disabled,
fieldset:disabled a.buttonnext {
    pointer-events: none;
}


.buttonprevious {
    display: inline-block;
    border-radius: 4px;
    background-color: #f44336;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 16px;
    padding: 5px 25px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

    .buttonprevious span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
    }

        .buttonprevious span:after {
            content: '\00ab';
            position: absolute;
            opacity: 0;
            top: 0;
            right: 20px;
            transition: 0.5s;
        }

    .buttonprevious:hover span {
        padding-left: 25px;
        color: white;
    }

        .buttonprevious:hover span:after {
            opacity: 1;
            right: 0;
            color: white;
        }


    .buttonprevious.disabled, .buttonprevious:disabled {
        opacity: 0.60;
    }

a.buttonprevious.disabled,
fieldset:disabled a.buttonprevious {
    pointer-events: none;
}
