/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

* {
    margin: 0;
    padding: 0;
    font-family: Century Gothic;
}

header {
    height: 100px;
    background-size: cover;
    background-position: center;
    background-image: url("~/img/ipgFoto.jpg");
}


ul {
    float: right;
    margin-top: 25px;
    margin-right: 25px;
    list-style-type: none;
}

    ul li {
        display: inline-block;
    }

        ul li a {
            text-decoration: none;
            color: red;
            padding: 5px 20px;
            border: 1px solid transparent;
            transition: 0.6s ease;
        }

            ul li a:hover {
                background-color: red;
                color: white;
            }

.logo img {
    float: left;
    width: 70px;
    height: auto;
    margin-left: 25px;
}

.main {
    max-width: 1200px;
    margin: auto;
}

.drop {
    position: relative;
    display: inline-block;
}

    .drop:hover {
        background-color: red;
        color: white;
    }

.loginButton {
    text-decoration: none;
    color: red;
    padding: 5px 20px;
    border: 1px solid transparent;
    transition: 0.6s ease;
    background-color: white;
}

.dropbtn {
    text-decoration: none;
    color: red;
    padding: 5px 20px;
    border: 1px solid transparent;
    transition: 0.6s ease;
    background-color: white;
}

.dropdown {
    position: relative;
    display: inline-block;
}

    .dropdown a:hover {
        text-decoration: none;
        padding: 0px 5px;
        border: 1px solid transparent;
    }


.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    z-index: 1;
    background-color: white;
}

    .dropdown-content a {
        text-decoration: none;
        color: red;
        padding: 0px 5px;
        transition: 0.6s ease;
    }

        .dropdown-content a:hover {
            background-color: red;
            color: white;
        }

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: red;
    color: white;
}
