@model IPGManager.Models.Tarefa

@{
    ViewData["Title"] = "Create";
}

<h1>Criar nova tarefa</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NomeTarefa" class="control-label">Nome da Tarefa</label>
                <input asp-for="NomeTarefa" class="form-control" />
                <span asp-validation-for="NomeTarefa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DescricaoTarefa" class="control-label">Descrição</label>
                <input asp-for="DescricaoTarefa" class="form-control" />
                <span asp-validation-for="DescricaoTarefa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataTarefa" class="control-label">Data da Tarefa</label>
                <input asp-for="DataTarefa" class="form-control" />
                <span asp-validation-for="DataTarefa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CargoId" class="control-label">Cargo</label>
                <select asp-for="CargoId" class ="form-control" asp-items="ViewBag.CargoId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar à lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
