@model IPGManager.Models.Departamento

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Quer apagar a informação deste departamento?</h3>
<div>
    <h4>Departamento</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeDepartamento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeDepartamento)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="DepartamentoId" />
        <button type="submit" class="button button1" onclick="return confirm('Deseja mesmo apagar @Html.DisplayFor(model => model.NomeDepartamento)?')">Apagar&nbsp;<i class="fa fa-trash"></i></button>
        | <a class="button button2" asp-action="Index">Voltar&nbsp;<i class="fas fa-chevron-left"></i></a>
    </form>
</div>
