@model IEnumerable<IPGManager.Models.Departamento>

@{
    ViewData["Title"] = "Index";
}

<h1>Departamentos</h1>

<p>
    <a asp-action="Create">Criar Novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Nome do Departamento
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomeDepartamento)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DepartamentoId">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.DepartamentoId">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.DepartamentoId">Apagar</a>
            </td>
        </tr>
}
    </tbody>
</table>
