@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">SISTEMA DE GESTÃO</h1>
        <p>Instituto Politécnico da Guarda</p>
        <img src="~/img/ipg.jpg">
    </div>
