<!DOCTYPE html>
<html>
<head>
    <title>IPGManagement</title>
    <link rel="stylesheet" type="text/css" href="~/css/site.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body>
    <header>
        <div class="main">
            <div class="logo">
                <a asp-area="" asp-controller="Home" asp-action="Index"><img src="~/img/logo.png"></a>
            </div>
            <ul>
                <li><a asp-area="" asp-controller="Home" asp-action="Index">HOME</a></li>
                
                <li>
                    <div class="dropdown">
                    <button class="dropbtn">ADICIONAR</button>
                    <div class="dropdown-content">
                        <a asp-area="" asp-controller="Home" asp-action="Index">SERVICOS</a>
                        <a asp-area="" asp-controller="Horarios" asp-action="Create">HORÁRIOS</a>
                        <a asp-area="" asp-controller="Departamentoes" asp-action="Create">DEPARTAMENTOS</a>
                        <a asp-area="" asp-controller="Cargoes" asp-action="Create">CARGOS</a>
                        <a asp-area="" asp-controller="Funcionarios" asp-action="Create">FUNCIONÁRIOS</a>
                    </div>
                </div>
                </li>
                
            </ul>
        </div>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2019 - IPGManager - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
