<!DOCTYPE html>
<html>
<head>
    <title>IPGManagement</title>
    <link rel="stylesheet" type="text/css" href="~/css/site.css">
</head>
<body>
    <header>
        <div class="main">
            <div class="logo">
                <img src="~/img/logo.png">
            </div>
            <ul>
                <li><a href="#">HOME</a></li>
                <li><a href="#">SERVICOS</a></li>
                <li><a href="#">FUNCIONÁRIOS</a></li>
                <li><a href="#">DEPARTAMENTOS</a></li>
                <li><a href="#">CARGOS</a></li>
                <li><a href="#">HORÁRIOS</a></li>
            </ul>
        </div>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

</body>
</html>
