@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager


@if (SignInManager.IsSignedIn(User))
{
    <li>
        <div class="drop">

            <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage"><button type="submit" class="dropbtn">Bem-vindo @User.Identity.Name!</button></a>

        </div>
    </li>
    @if (User.IsInRole("admin"))
    {
        <li>
            <div class="drop">
                <a asp-area="Identity" asp-page="/Account/Register"><button type="submit" class="dropbtn">REGISTAR</button></a>
            </div>
        </li>
    }
    else
    {

    }
    <li>
        <div class="dropdown">
            <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="dropbtn">LOGOUT</button>
            </form>
        </div>
    </li>
}
else
{
    <li>
        <div class="drop">
            <a asp-area="Identity" asp-page="/Account/Login"><button type="submit" class="dropbtn">LOGIN</button></a>
        </div>
    </li>
}
